.main {
  display: flex;
  justify-content: center;
}

.container {
  display: flex;
  align-items: flex-start;
  max-width: 1280px;
  width: 100%;
  column-gap: calc(var(--offset-base-size) * 15);
}

.orders {
  padding-top: calc(var(--offset-base-size) * 10);
  width: 100%;
}

.list {
  width: calc(100% - 20px);
  max-height: calc(100vh - 148px);
  row-gap: calc(var(--offset-base-size) * 6);
}