.link {
  display: flex;
  align-items: center;
  column-gap: calc(var(--offset-base-size) * 2);
  text-decoration: none;
  outline: none;
  transition: opacity .5s linear;
}

.link:hover {
  opacity: .6;
}